<div id="<%= dom_id destination %>">
  <p>
    <strong>Name:</strong>
    <%= destination.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= destination.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= destination.description %>
  </p>

</div>
